*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8b3b3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    background: #22252d;
    border-radius: 20px;
    width: 360px;
    overflow: hidden;
}
section .header{
    display: flex;
    position: relative;
    color: #fff;
    margin-bottom: 5px;
    padding: 20px 15px;
}
section .header h3{
    font-size: 20px;
    margin-top: -7px;
}
section .header ul{
    list-style: none;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 20px 15px;
}
section .header ul li{
    display: inline;
    font-size: 15px;
}
section .center_icon{
    background: #292d36;
    margin: 10px auto;
    width: 100px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
section .center_icon i{
    padding: 5px 10px;
}
.calc{
    height: 170px;
}
section [type="text"]{
    background-color: transparent;
    border:none;
    outline: none;
    width: 100%;
    font-size: 22px;
    margin-top: 80px;
    text-align: right;
    padding:0 15px;
    color: #fff;
}
section h1{
    text-align: right;
    font-size: 40px;
    margin-bottom: 20px;
    padding:0 15px;
    color: #fff;
}
section .key_btn{
    background: #292d36;
    height: auto;
    padding: 20px 20px 50px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}
section .key_btn input{
    width: 45px;
    height:45px;
    margin: 14px 15px;
    background: #272b33;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
}
hr{
    width: 150px;
    background: rgb(68, 67, 67);
    height: 3px;
    margin: -30px auto 15px;
    border: none;
    outline: none;
}
#green{
    color: #25d0b3;
}
#red{
    color: #de6262;
}